<!DOCTYPE html>
<html ng-app="oskmBlogApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>oskm's Home!</title>
		<!--
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
	    -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.css">
</head>
<body>
	<!-- Static navbar -->
	<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavController">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/test">{{user.username}}'s Home</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="mailto:oskmkr@naver.com">Contact</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../navbar/">Default</a></li>
					<li class="active"><a href="./">Static top</a></li>
					<li><a href="../navbar-fixed-top/">Fixed top</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>

	<hr><hr>
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron" ng-controller="TitleController">
		<div class="container">
			<h1>Welcome!</h1>
			<p>웹기술에 관한 이런 저런 주제들에 대해 정리해 봅니다.</p>
			<p><a class="btn btn-primary btn-lg">목차 &raquo;</a></p>
			<p>No filter : {{ greeting }}</p>
			<p>Reverse : {{ greeting | reverse}}</p>
			<p><input type="text" ng-model="yourName" placeholder="type..."></input>안녕하세요, {{yourName}} !!!</p>
		</div>
	</div>

	<div class="container" ng-controller="ContentsController">
		<!-- Example row of columns -->
		<div class="row">
			<div class="col-lg-4" ng-repeat="content in contents">
				<h2>{{content.title}}</h2>
				<p>{{content.description}}</p>
				<p><a class="btn btn-default" href="{{content.url}}">View details &raquo;</a></p>
			</div>
		</div>

		<hr>
        
		<div id="footer">
			<div class="container">
				<p class="text-muted credit">이 블로그는 <a href="http://martinbean.co.uk">bootstrap</a> 을 이용해 개발 되었습니다.</p>
			</div>
		</div>
	</div>
		    
	
	<script src="//code.jquery.com/jquery-1.11.0.js"></script>
	<!--
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
	-->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.js"></script>
	<script src="//code.angularjs.org/angular-1.0.0rc10.min.js"></script>
	<script src="./js/index.js"></script>
</body>
</html>
